.body{
    height: 100vh;
    background: rgb(211, 255, 248);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 500;
    font-weight: bold;
}
button{
    margin: 50px;
    background:rgb(204, 204, 204);
    border-radius: 30px;
    padding: 20px;
}

button:hover{
    background:rgb(145, 144, 144);
    cursor: pointer;
}